body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

.navbar-custom {
    background-color: rgb(63, 68, 114);
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
    font-family: 'Krona One', sans-serif;
}

.dropdown-custom {
    background-color:rgb(63, 68, 114);
    border: 0;
}

.dropdown-item {
    color: #9FA2B9;
}

.dropdown-item:hover {
    color: #CFD0DC;
    background-color: transparent;
}

.headGFX {
    padding-top: 100px;
    background-image: url('pic/restaurant.jpg');
    background-position: center;
    background-size: cover;
    height: 40vw;
    min-height: 100%;
}

.greets {
    margin: auto;
    padding-top: 20px;
 }

.gruss {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 5vw;
}

.ansprache {
    text-align: justify;
    font-family: 'Patrick Hand', cursive;
    font-size: 3.3vw;
    padding: 0 5vw 10px 5vw;
    width: 100%;
    
}

.midGFX {
    background-image: url('pic/wine.jpg');
    height: 40vw;
    background-position: center;
    background-size: cover;
}

.kontakt {
    font-size: 2vw;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
}

.kontakt-icon {
    font-size: 5vw;
    margin-bottom: 2vw;
    color: rgb(63, 68, 114);
}

.location {
    width: 100%;
    height: 40vw;
    border: 0;
}

.locationgfx {
    background-image: url('pic/car.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    height: 40vw;
    width: 50%;
    float: left;
    border: 0;
}

.maps {
    position: relative;
    height: 40vw;
    overflow: hidden;
}

.maps iframe {
    height: 100%;
    width: 100%;
}

#speisekarte {
    font-size: 5vw;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    padding: 20px 0;
    text-transform: capitalize;
    font-variant: small-caps;
}

.img-container {
    position: relative;
    color: white;
}

.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'Krona One', sans-serif;
}

.vorspeisen-pic {
    background-image: url('pic/starter.jpg');
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 100%;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
 }

/* Extra large devices (large desktops, 1200px and up) */ 

@media (min-width: 1200px) { 
    
 }




/* TODO: Darstellung auf großen Seiten ist sehr groß. media queries einbauen für unterschiedliche Größen
