body {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h2 {
    text-align: center;
    padding-top: 10px;
}

.header {
    background-image: url(./pic/pig.jpg);
    background-position: center;
    background-size: cover;
    height: 50vw;
    max-height: 400px;
}

.userInput {
    width: 90%;
    max-width: 400px;
    margin: 10px auto;

}

.expenseTable {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

span {
    width: 150px;
    justify-content: center;
}